
@import-normalize;

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-cream;
  }

  button {
    @apply m-2 p-2 border border-black rounded
      transition-all duration-150
      hover:-translate-x-1 hover:-translate-y-1
      hover:shadow-full
      
      disabled:text-gray-500 disabled:border-gray-500
      disabled:hover:translate-x-0 disabled:hover:translate-y-0
      disabled:hover:shadow-none;
  }
}

@layer components {
  .container {
    @apply p-2 bg-white border border-black rounded
      first:border-b-0 first:rounded-b-none
      last:border-t-0 last:rounded-t-none;
  }

  .container:not(:first-child) {
    @apply rounded-none last:rounded-b;
  }
}