
@import-normalize;

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-cream;

    height: 100vh;
    width: 100vw;
  }

  #root {
    @apply h-full box-border flex flex-col;
  }

  button {
    @apply m-2 p-2 border border-black rounded
      min-w-100 transition-all duration-150

      hover:-translate-x-1 hover:-translate-y-1
      hover:shadow-full
      
      hover:bg-white active:bg-white

      disabled:text-gray-500 disabled:border-gray-500
      disabled:hover:translate-x-0 disabled:hover:translate-y-0
      disabled:hover:shadow-none;
  }

  button.sm {
    @apply m-1 p-1 min-w-50 text-sm;
  }

  button.active {
    @apply bg-white;
  }

  button.red {
    @apply hover:bg-red-400;
  }

  button.green {
    @apply hover:bg-green-400;
  }

  button.blue {
    @apply hover:bg-blue-400;
  }

  select {
    @apply m-2 p-2 border border-black rounded
      min-w-100 bg-white cursor-pointer
      transition-all duration-150

      hover:bg-cream;
  }

  input {
    @apply m-2 p-2 pb-1 border-b border-black;
  }
}

@layer components {
  .wrapper {
    @apply w-1/2;
  }

  .container {
    @apply p-2 bg-white border border-black rounded box-border;
  }

  .row {
    @apply py-2 flex w-full justify-between items-center
      first:pt-0 last:pb-0;
  }

  .form-controls {
    @apply row mt-auto p-2 border-t border-black;
  }
  
  .title {
    @apply font-bold text-xl;
  }

  .title.sm {
    @apply text-base;
  }

  .list {
    @apply first:rounded-b-none first:mb-0
      last:rounded-t-none last:mt-0;
  }

  .list:not(:last-child) {
    @apply border-b-0;
  }

  .list:not(:first-child):not(:last-child) {
    @apply rounded-none mb-0 mt-0;
  }

  .list:only-child {
    @apply rounded;
  }
}