
@import-normalize;

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-cream;

    height: 100vh;
    width: 100vw;
  }

  #root {
    @apply h-full box-border flex flex-col;
  }

  button {
    @apply m-2 p-2 border border-black rounded
      min-w-100 transition-all duration-150

      hover:-translate-x-1 hover:-translate-y-1
      hover:shadow-full
      
      active:bg-white

      disabled:text-gray-500 disabled:border-gray-500
      disabled:hover:translate-x-0 disabled:hover:translate-y-0
      disabled:hover:shadow-none;
  }

  button.active {
    @apply bg-white;
  }

  select {
    @apply m-2 p-2 border border-black rounded
      min-w-100 bg-white cursor-pointer
      transition-all duration-150

      hover:bg-cream;
  }
}

@layer components {
  .wrapper {
    @apply w-1/2;
  }

  .container {
    @apply m-2 p-2 bg-white border border-black rounded;
  }

  .row {
    @apply flex w-full justify-between items-center;
  }

  .form-controls {
    @apply row mt-auto p-2 border-t border-black;
  }
  
  .title {
    @apply font-bold text-xl;
  }

  .list {
    @apply first:rounded-b-none first:mb-0
      last:rounded-t-none last:mt-0;
  }

  .list:not(:last-child) {
    @apply border-b-0;
  }

  .list:not(:first-child):not(:last-child) {
    @apply rounded-none mb-0 mt-0;
  }
}